@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #d2b371;
  --color-whitesmoke: #f5f5f5;
  --color-white: #ffffff;

  --color-dark-black: #0a0a0a;
}

body {
  font-family: "Gilda Display", Georgia, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Old Standard TT", Georgia, serif;
}

.parallax-bg {
  background-attachment: fixed;
}

@supports (-webkit-overflow-scrolling: touch) {
  .parallax-bg {
    background-attachment: scroll;
  }
}
