@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Montserrat:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #d2b371;
  --color-whitesmoke: #f5f5f5;
  --color-white: #ffffff;

  --color-dark-black: #0a0a0a;
  --font-primary: "Gilda Display", serif;
}

.parallax-bg {
  background-attachment: fixed;
}

@supports (-webkit-overflow-scrolling: touch) {
  .parallax-bg {
    background-attachment: scroll;
  }
}
